*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: "segoe ui";
  margin: 0;
  padding: 0;
}

/* Login */
form {
  width: 380px;
  margin: 4em auto;
  padding: 1em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.form-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #fafafa;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

/* Label */

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
}

/* active */

input:focus ~ label,
input.used ~ label {
  top: -20px;
  transform: scale(0.75);
  left: -2px;
  /* font-size: 14px; */
  color: #3e90fd;
}

/* Underline */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #3e90fd;
  transition: all 0.2s ease;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* Highlight */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active */

input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

/* Animations */

@keyframes inputHighlighter {
  from {
    background: #3e90fd;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: 0.3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160b6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus {
  outline: 0;
}

/* Button modifiers */

.buttonBlue {
  background: #3e90fd;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, 0.5);
}

.buttonBlue:hover {
  background: #357bd8;
}

/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples 0.4s ease-in;
}

/* Ripples animation */

@keyframes ripples {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
.footer {
  text-align: center;
  & > a {
    text-decoration: none;
    color: #3160b6;
  }
}

/* Doc */
#container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f3f3f3;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Print Styles */
@page {
  margin: 1in;
}
@media print {
  body {
    background: none;
  }
  #container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }
  .ql-toolbar.ql-snow {
    display: none;
  }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  border-radius: 0.5rem;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}
@media (max-width: 800px) {
  .modal-content {
    width: 60%;
  }
}
@media (max-width: 550px) {
  .modal-content {
    width: 70%;
  }
}
@media (max-width: 450px) {
  .modal-content {
    width: 80%;
  }
}
.modal-title {
  font-size: large;
  font-weight: bold;
}
.modal-body {
  & > div {
    gap: 1rem;
    width: 100%;
    height: 100%;
    & > input {
      width: 100%;
      height: 70%;
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: rgb(240, 240, 240);
      padding-inline: 10px;
      &:focus {
        background-color: white;
        box-shadow: 1px 1px 3px 0px #c2c2c2;
      }
    }
    & > div {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
      & > button {
        height: 2rem;
        color: white;
        border: none;
        outline: none;
        border-radius: 3px;
        padding-inline: 0.5rem;
      }
      & > .submit {
        background-color: rgb(240, 240, 240);
        color: black;
        &:hover {
          background-color: rgb(218, 218, 218);
        }
      }
      & > .create {
        background-color: #3882e4;
        &:hover {
          background-color: #3173ca;
        }
      }
    }
  }
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.nav > .nav-header {
  display: flex;
  align-items: center;
  /* gap: 1px; */
  & > div {
    width: 3rem;
    & > img {
      width: 90%;
    }
  }
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #000000;
  /* padding: 10px 10px 10px 10px; */
}

.nav > .search-bar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
  height: 100%;
  margin-inline: 15rem;
  & > input {
    width: 100%;
    height: 70%;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgb(240, 240, 240);
    padding-inline: 40px;
    &:focus {
      background-color: white;
      box-shadow: 1px 1px 3px 0px #c2c2c2;
    }
  }

  & > span {
    position: absolute;
    left: 10px;
    opacity: 80%;
  }
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  align-items: center;
  height: 100%;
  float: right;
  font-size: 18px;
  margin-inline-end: 10px;
}
.nav > .nav-links > button {
  height: 70%;
  border-radius: 3px;
  border: none;
  background-color: rgb(0, 153, 255);
  cursor: pointer;
  & > span {
    color: white;
  }
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

.body {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-inline: 12rem;
  margin-top: 3rem;
  gap: 1rem;
}

.card {
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px solid rgba(165, 165, 165, 0.735);
  border-bottom: 0px;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  & > .card-body {
    width: 100%;
    height: 100%;
  }
  & > .card-metadata {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 30px;
    top: 200px;
    text-align: center;
    background-color: #3e90fd;
    color: white;
    border: 1px solid rgba(165, 165, 165, 0.735);
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    &:hover {
      box-shadow: 0px 0px 7px #7bb0f77d;
      background-color: #3882e4;
    }
  }
}

@media (max-width: 990px) {
  .body {
    margin-inline: 4rem;
  }
}

@media (max-width: 770px) {
  .nav > .search-bar {
    display: none;
  }
  .body {
    grid-template-columns: auto auto auto auto;
  }
}
@media (max-width: 600px) {
  .body {
    margin-inline: 1rem;
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 450px) {
  .body {
    grid-template-columns: auto auto;
  }
}
